*{
   box-sizing: border-box;;
  font-family:sans-serif;
}

body {
   /* For browsers that do not support gradients */
  background-image: linear-gradient(white, white, white);
  background-repeat: no-repeat;
  /* Standard syntax (must be last) */
}


.header {
  display:flex;
  flex-direction: column;
  /*
  border-style: solid;
  border-color: yellow;
 */
}



/* Header CSS */

.header-submenu {
	display:grid;
	grid-template-columns: 30% 70%;
}

.logo {
	margin-left: 50px;
}
.container {
	position:relative;	
  /* it will be commmented off*/
}

.container ul  {
	position: relative;
	float:right;
    margin-top:20px;
}

.container ul li {
	list-style: none;
	display: inline-block;


}

.container ul li a  {
	position: relative;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	transition:0.5s;
}

.container ul li a:before {
	content: '';
	position:absolute;
	top:0px;
	bottom:1px;
	left:0;
	width:100%;
	height:100%;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	transform:scaleY(2);
	opacity:0;
	transition:1.25s;
}

.container ul li a:hover {
	background-color: rgb(43,232,184);
}


.container ul li a:hover:before {
     opacity: 1;
     transform:scaleY(1);
}

.header-catagories {
	position:relative;
    border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	
}

.header-catagories ul {
	
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20% 20% 20%;
	    /* 
      border-style: solid;
      border-bottom: yellow;
    */
    margin-top:10px;
    width:100%;
    height:100%;
    
}

.header-submenu-two {

	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.header-catagories ul li {
   list-style:none;
   position:relative;
   border-right: 1px solid black;
   border-left: 1px solid black;
   text-align:center;   
}

.header-catagories ul li:first-child {
  border-left:0;
} 

.header-catagories ul li:last-child {
  border-right:0;
}

.header-catagories ul li a {
    text-decoration:none;
    text-align:center;
    display:block;
    color:#000;
    text-transform: uppercase;
    
}

.header-catagories ul li a:hover {
    background-color: rgb(43,232,184);
    transition:1.25s;
}


/*  ###################################################################################################### */
.video-container {
   position: relative;
   width:100%;
   height:450px;
   overflow:hidden;
}

.video-container p {
	position: relative;
	z-index:1;
	font-size: 80px;
	color:black;
	text-transform: uppercase;
	font-family: 'Cedarville Cursive', cursive;
	text-align: center;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.video-container video{
	top:0;
	left:0;
    position: absolute;
    opacity:0.5;
    z-index:-1;
}

/*  ###################################################################################################### */

.vid-container {
	background-color: black;
	display: grid;
	grid-template-columns: 50% 50%;
	width:100%;
	height:350px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.main-text {
	position:relative;
    font-family: 'Cedarville Cursive', cursive;
    background-color:white;
}

.main-text .text {
	width:400px;
	height:150px;
	
	text-align: center;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text .text span b {
   text-transform: uppercase;
   font-family: 'Cedarville Cursive', cursive;
}
.main-text .text p {
   font-family: 'Cedarville Cursive', cursive;
}

.main-text .text button{
	border-radius:10px;
	background-color: pink;
	font-family: 'Cedarville Cursive', cursive;
	padding:2px;
}

.img {
   
}

 .img img {
	width:100%;
	height:100%;
	}

.animation-container {
	display: grid;
	grid-template-columns: 50% 50%;
	width:100%;
	height:350px;
	margin-top: 50px;
}


/*  ###################################################################################################### */

 .swiper-container {
 	  position: relative;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
     
    }

    .card {
    	position: relative;
    	width:300px;
    	height:300px;
    
    }

    .card .card-header {
    	position: relative;
    	width:100%;
    	height:80%;
    }
   
     .card img {
        width:100%;
        height:100%;
    }
   
    .card li {
         text-align: center;
         text-decoration-color: black;
    }
    

    
    
/*
    .card .card-content a {
    	background-color: transparent;
    	text-decoration: none;  
        color:#000;
        font-family: cursive;
    	transform: scale(1.5);
     }
     */
/*  ###################################################################################################### */

#slider {
	margin-top:5px;
	max-height: 300px;

}

#logoNavBar {
	position:absolute;
	width:0px;
	height:0px;
	left:35%;
	top:50%;
	transform: scale(3);
	transition:0.5;
}

/* ######################################################################################################## */


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: pink;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*  ###################################################################################################### */

/* CSS for the footer */
.footer {
 position: relative;
 border-style: solid;
 border-color: black;
 bottom: 0;
 height:10%;
 width: 100%;
 color:black;
 background-color: black;
}

.footer .footer-submenu {
	/* 
  border-style: solid;
 border-color: green;
 */
	position:relative;
	display:flex;
	flex-direction: row;
	justify-content: center;
	height:100%;
    
}


.footer .footer-submenu > div  {
	padding:60px;
	/* 
  border-style: solid;
 border-color: orange;
 */
}


.footer .footer-submenu .catagories {
	/* 
  border-style: solid;
 border-color: red;
 */
	position: relative;
	height:100%;
}

.footer .footer-submenu .About {
	
	height:100%;
	position:relative;
	/* 
  border-style: solid;
 border-color: blue;
 */

}

.footer .footer-submenu .Support {
	height:100%;
	position:relative;
	/* 
  border-style: solid;
 border-color: purple;
 */
}


.footer .footer-submenu a {
   text-transform: uppercase;
}

.footer .footer-submenu  ul li{
    list-style: none;
    margin-bottom: 10px;
}

.footer .footer-submenu ul {
    list-style: none;
}


.footer .footer-submenu ul li a{
	text-decoration: none;
	font-weight: bold;
}


.footer-submenu-two {
	text-align:center;
	color: black;
}